---
# only the main scss file needs front matter
---
@import "normalize";
@import "variables";
@import "common";
@import "header";
@import "footer";

@import "default";
@import "home";
@import "donate";
@import "contact";
