{% if include.standalone %}
<div class="donation-services donation-services--standalone">
{% else %}
<div class="donation-services">
{% endif %}
    <div class="donation-services__logos">
        <a href="/donate" class="donation-services__link">
            <img src="/assets/images/patreon.png"
                alt="Patreon"
                class="donation-services__logo" />
        </a>
        <a href="/donate" class="donation-services__link">
            <img src="/assets/images/indiegogo.png"
                alt="Indiegogo"
                class="donation-services__logo" />
        </a>
        <a href="/donate" class="donation-services__link">
            <img src="/assets/images/paypal.png"
                alt="PayPal"
                class="donation-services__logo" />
        </a>
        <a href="/donate" class="donation-services__link">
            <img src="/assets/images/amazon.png"
                alt="Amazon Smile"
                class="donation-services__logo" />
        </a>
        <a href="/donate" class="donation-services__link donation-services__link--mail">
            {% include graphics/envelope.svg %}
            <div class="donation-services__link-text">good ol' fashioned check-in-the-mail</div>
        </a>
    </div>
</div>
