{% if include.standalone %}
<div class="donation-services donation-services--standalone">
{% else %}
<div class="donation-services">
{% endif %}
    <div class="donation-services__logos">
        <a href="https://www.patreon.com/sexedroadtour" class="donation-services__link">
            <img src="/assets/images/patreon.png"
                alt="Patreon"
                class="donation-services__logo" />
        </a>
        <!-- <a href="https://www.indiegogo.com/projects/sexplanations-road-tour"
            class="donation-services__link">
            <img src="/assets/images/indiegogo.png"
                alt="Indiegogo"
                class="donation-services__logo" />
        </a> -->
        <form action="https://www.paypal.com/cgi-bin/webscr"
            method="post"
            target="_top"
            class="donation-services__link">

            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="99BHEFNJ5MJC2">
            <input type="image" src="/assets/images/paypal.png" border="0" name="submit" alt="PayPal">
            <img alt="" border="0"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                width="1" height="1">
        </form>
        <a href="https://smile.amazon.com/ch/81-4822649" class="donation-services__link">
            <img src="/assets/images/amazon.png"
                alt="Amazon Smile"
                class="donation-services__logo" />
            <div class="small-text donation-services__link-note">
                Donations through Amazon Smile go to the Effing Foundation, and are
                not specifically marked for the Sexplanations Road Tour.
            </div>
        </a>
        <a href="/contact#info" class="donation-services__link donation-services__link--mail">
            {% include graphics/envelope.svg %}
            <div class="donation-services__link-text">good ol' fashioned check-in-the-mail</div>
        </a>
    </div>
</div>
