<div class="section-row--purple-darker">
    <footer class="section footer">
        <div class="footer__text">
            For more than four years Sexplanations has been the go-to source for clinical
            sex edutainment on Youtube. The host, Dr. Lindsey Doe, shares her experiences
            teaching, counseling, coaching, and having sex herself to inspire curiousity.
            New videos are published every Wednesday. If you're not subscribed already,
            please do so and check us out on Facebook, Twitter, Tumblr, and Patreon.
        </div>
        <div class="footer__links">
            <a href={{ "/" | prepend: site.baseurl }} class="menu-item footer__link">
                Home
            </a>
            <a href={{ "/donate" | prepend: site.baseurl }} class="menu-item footer__link">
                Donate
            </a>
            <a href={{ "/dates" | prepend: site.baseurl }} class="menu-item footer__link">
                Tour Dates
            </a>
            <a href={{ "/log" | prepend: site.baseurl }} class="menu-item footer__link">
                Trip Log
            </a>
            <a href={{ "/contact" | prepend: site.baseurl }} class="menu-item footer__link">
                Contact
            </a>
        </div>
    </footer>
</div>
