<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@elleteedee">
<meta name="twitter:title" content="Sexplanations Road Tour">
<meta name="twitter:description"
    content="Driving around the country, stopping in towns which might not have great access to sex education and setting up a stage to teach anyone who shows up about anatomy, pleasure, hygiene, and consent - anything our audiences want to know. Want to help? Here's your chance!">
<meta name="twitter:image" content="https://curiousroadtour.com/assets/images/social.png">
<meta name="twitter:site" content="Sexplanations Road Tour" />
<meta name="twitter:domain" content="https://curiousroadtour.com" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Sexplanations Road Tour" />
<meta property="og:description"
    content="Driving around the country, stopping in towns which might not have great access to sex education and setting up a stage to teach anyone who shows up about anatomy, pleasure, hygiene, and consent - anything our audiences want to know. Want to help? Here's your chance!" />
<meta property="og:image" content="https://curiousroadtour.com/assets/images/social.png" />
<meta property="og:site_name" content="Sexplanations Road Tour" />
