<div class="section-row--gradient">
    <header class="section">
        <div class="header">
            <div class="header__social">
                <div class="header__social-icons">
                    {% include icons/twitter.svg %}
                    {% include icons/facebook.svg %}
                    {% include icons/tumblr.svg %}
                    {% include icons/youtube.svg %}
                    {% include icons/instagram.svg %}
                </div>
            </div>
            <nav class="header__links">
                <a href={{ "/" | prepend: site.baseurl }} class="menu-item header__link">
                    Home
                </a>
                <a href={{ "/donate" | prepend: site.baseurl }} class="menu-item header__link">
                    Donate
                </a>
                <a href={{ "/" | prepend: site.baseurl }} class="menu-item header__link">
                    Tour Dates
                </a>
                <a href={{ "/" | prepend: site.baseurl }} class="menu-item header__link">
                    Trip Log
                </a>
                <a href={{ "/contact" | prepend: site.baseurl }} class="menu-item header__link">
                    Contact
                </a>
            </nav>
        </div>
    </header>

    <div class="section home__headline-text">
        <h1 class="home__headline">Sexplanations Road Tour</h1>
        <div class="heading-3 home__subheadline">curious across the country</div>
    </div>
</div>
