<div class="section-row--gradient">
    <header class="section header-section">
        <div class="header">
            <div class="header__social">
                <div class="header__social-icons">
                    <a href="https://twitter.com/elleteedee">
                        {% include icons/twitter.svg %}
                    </a>
                    {% include icons/facebook.svg %}
                    <a href="https://tumblingdoe.tumblr.com/">
                        {% include icons/tumblr.svg %}
                    </a>
                    <a href="https://youtube.com/user/sexplanations">
                        {% include icons/youtube.svg %}
                    </a>
                    {% include icons/instagram.svg %}
                </div>
            </div>
            <nav class="header__links">
                <a href={{ "/" | prepend: site.baseurl }} class="menu-item header__link">
                    Home
                </a>
                <a href={{ "/donate" | prepend: site.baseurl }} class="menu-item header__link">
                    Donate
                </a>
                <a href={{ "/dates" | prepend: site.baseurl }} class="menu-item header__link">
                    Tour Dates
                </a>
                <a href={{ "/log" | prepend: site.baseurl }} class="menu-item header__link">
                    Trip Log
                </a>
                <a href={{ "/contact" | prepend: site.baseurl }} class="menu-item header__link">
                    Contact
                </a>
            </nav>
        </div>
    </header>

    <div id="sticky-header-start" class="section top__headline-text">
        <h1 class="top__headline">Sexplanations Road Tour</h1>
        <div class="heading-3 top__subheadline">curious across the country</div>
        <div class="top__mobile-menu-icon">
            {% include icons/menu.svg %}
        </div>
    </div>
</div>

<header id="sticky-header" class="sticky-header">
    <div class="header">
        <nav class="header__links">
            <a href={{ "/donate" | prepend: site.baseurl }} class="menu-item header__link">
                Donate
            </a>
            <a href={{ "/dates" | prepend: site.baseurl }} class="menu-item header__link">
                Tour Dates
            </a>
            <a href={{ "/" | prepend: site.baseurl }} class="header__link header__link--sexplanations">
                Sexplanations Road Tour
            </a>
            <a href={{ "/" | prepend: site.baseurl }} class="menu-item header__link">
                Trip Log
            </a>
            <a href={{ "/contact" | prepend: site.baseurl }} class="menu-item header__link">
                Contact
            </a>
            <div class="menu-item header__link header__link--menu">
                {% include icons/menu.svg %}
            </div>
        </nav>
    </div>
</header>

<nav id="mobile-menu" class="header__mobile-menu">
    <div class="header__mobile-menu-links">
        <a href={{ "/" | prepend: site.baseurl }} class="menu-item header__mobile-menu-link">
            Home
        </a>
        <a href={{ "/donate" | prepend: site.baseurl }} class="menu-item header__mobile-menu-link">
            Donate
        </a>
        <a href={{ "/dates" | prepend: site.baseurl }} class="menu-item header__mobile-menu-link">
            Tour Dates
        </a>
        <a href={{ "/log" | prepend: site.baseurl }} class="menu-item header__mobile-menu-link">
            Trip Log
        </a>
        <a href={{ "/contact" | prepend: site.baseurl }} class="menu-item header__mobile-menu-link">
            Contact
        </a>
    </div>
    <div>
        <div id="mobile-menu-close" class="header__mobile-menu-close">X</div>
    </div>
</nav>
