*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

html {
    font-size: 18px;
}
@media only screen and (max-width: 1180px) {
    html {
        font-size: 16px;
    }
}
body {
    width: 100%;
    overflow-x: hidden;
    font-family: $montserrat;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: white;
    height: auto;
    position: static;
}

/***** Common Styles *****/
.section {
  width: 100%;
  max-width: 1200px; /* max Width of section, Change to what you like */
  padding: 40px 20px;
  margin: 0 auto;
}
.section--first {
    padding-top: 10px;
}
.section-row {
    background-color: $purple;
}
.section-row--purple-darker {
    background-color: $purple-darker;
}
.section-row--purple-dark {
    background-color: $purple-dark;
}
.section-row--pink {
    background-color: $pink;
}
.section-row--gradient {
    background: $pink;
    background: bottom -84px left -5px/1200px repeat-x url("/assets/images/skyline.svg");
    background: bottom -84px left -5px/1200px repeat-x url("/assets/images/skyline.svg"), -moz-linear-gradient(top, $pink, $orange);
    background: bottom -84px left -5px/1200px repeat-x url("/assets/images/skyline.svg"), -webkit-linear-gradient(top, $pink, $orange);
    background: bottom -84px left -5px/1200px repeat-x url("/assets/images/skyline.svg"), linear-gradient(to bottom, $pink, $orange);;
    padding-bottom: 6rem;
}
.section-row--road {
    background: $purple;
    background: top center/1200px no-repeat url('/assets/images/road.svg');
    background: top center/1200px no-repeat url('/assets/images/road.svg'), $purple;
}

.heading-1 {
    font-family: $montserrat;
    font-weight: bold;
    font-size: 3.157rem;
    &:after {
        color: $orange;
    }
}
.heading-2 {
    font-family: $montserrat;
    font-weight: bold;
    font-size: 2.369rem;
}
.heading-3 {
    font-family: $sriracha;
    font-weight: normal;
    font-size: 1.777rem;
}
.small-text {
    font-weight: normal;
    font-size: 0.75rem;
}
.quote-text {
    font-family: $sriracha;
    font-weight: normal;
    font-size: 1.333rem;
}
.menu-item {
    font-family: $montserrat;
    font-weight: bold;
    font-size: 1.333rem;
    text-transform: uppercase;
}

.separator {
    width: 100px;
    border-top: 4px solid $orange;
}
.separator--centered {
    margin: 0 auto;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

/***** Buttons *****/
.btn {
    min-width: 180px;
    background-color: $green-dark;
    text-align: center;
    font-family: $sriracha;
    color: white;
    padding: 5px;
    border: 2px solid $green-dark;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
        background-color: #448027;
        border-color: #448027;
    }
}
.btn--purple {
    background-color: $purple-dark;
    border-color: white;
    &:hover {
        background-color: #63164c;
        border-color: white;
    }
}

/***** Data Capsules *****/
.data-capsule__container {
    position: relative;
    width: 300px;
    flex: none;
}
.data-capsule {
    position: relative;
    background-color: $pink;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
    z-index: 1;
}
.data-capsule__label {
    position: absolute;
    top: -22px;
    left: 30px;
    width: 240px;
    background-color: $purple-dark;
    text-align: center;
    font-family: "Sriracha", cursive;
    font-size: 1.2rem;
    padding: 8px 12px;
    border-radius: 20px;
}
.data-capsule__value {
    text-align: center;
    font-family: $satisfy;
    font-weight: bold;
    font-size: 3rem;
    padding: 40px 30px;
}
.data-capsule__info-icon {
    position: absolute;
    left: 131px;
    bottom: -11px;
    width: 26px;
    height: 26px;
    background-color: $green-dark;
    text-align: center;
    font-family: serif;
    border-radius: 50%;
    cursor: pointer;
}
.data-capsule__info {
    position: absolute;
    top: 0;
    background-color: $purple-darker;
    padding: 50px 20px 20px;
    border-radius: 20px;
    transition: top 0.2s ease-out;
}
.data-capsule.active + .data-capsule__info {
    top: 133px;
}
@media only screen and (max-width: 1180px) {
    .data-capsule.active + .data-capsule__info {
        top: 120px;
    }
}

@media only screen and (max-width: 1200px) {
    .section-row--road {
        background: $purple;
    }
}
@media only screen and (max-width: 1120px) {
    .section-row--gradient {
        padding-bottom: 5rem;
    }
}
