.sticky-header {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $pink;
    padding: 20px 40px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
    z-index: 10;
    .header__links {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .header__link {
        margin-left: 0;
    }
    &.visible {
        display: block;
        animation: slide-down 0.7s;
    }
    &.fade-out {
        display: block;
        animation: slide-up 0.6s;
    }
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__social-text {
    text-align: center;
    font-size: 1.5rem;
}
.header__social-icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.header__icon {
    width: 30px;
    height: 30px;
    fill: $black;
    stroke: $black;
    cursor: pointer;
}
.header__icon--menu {
    width: 60px;
    height: 60px;
    fill: white;
    stroke: none;
}
.header__links {
    display: flex;
}
.header__link {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    &:first-of-type {
        margin-left: 0;
    }
}
.header__link--sexplanations {
    font-family: $satisfy;
    font-size: 3rem;
    font-weight: bold;
}
.header__link--menu {
    display: none;
}

.header__mobile-menu {
    display: none;
}

@media only screen and (max-width: 1120px) {
    .header-section {
        display: none;
    }
    .sticky-header {
        padding: 10px 25px;
        .header__link {
            display: none;
        }
        .header__link--sexplanations {
            display: block;
            text-align: left;
            font-size: 2rem;
            font-weight: normal;
        }
        div.header__link--menu {
            display: block;
            margin-left: 15px;
        }
    }
    .header__mobile-menu {
        position: fixed;
        top: 0;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        background: rgb(76, 25, 60);
        background: rgba(76, 25, 60, 0.9);
        padding: 40px;
        z-index: 11;
        &.visible {
            display: flex;
        }
    }
    .header__mobile-menu-links {
        display: flex;
        flex-direction: column;
    }
    .header__mobile-menu-link {
        color: white;
        text-decoration: none;
        margin-bottom: 15px;
    }
    .header__mobile-menu-close {
        font-size: 3rem;
        line-height: 3rem;
        margin-left: 15px;
        cursor: pointer;
    }
}
