/***** Home Page Styles *****/
.home__road {
    min-height: 300px;
}
.home__road-row {
    display: flex;
    justify-content: space-between;
    &:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
}
.home__graphic {
    display: none;
    width: 100%;
}
.home__road-foreground {
    position: absolute;
    width: 1200px;
    left: -120px;
    bottom: -10px;
    pointer-events: none;
}

.home__donation-box {
    position: relative;
    background-color: white;
    color: $purple-dark;
    padding: 40px;
    margin: 120px 0 140px;
    border: 8px solid $pink;
}
.home__donation-box-headline {
    color: $pink;
}
.home__donation-box-text {
    margin: 30px 0;
}
.home__donation-box-btns {
    padding-left: 100px;
    margin-top: 40px;
}
.home__donation-box-btn {
    margin: 0 15px 20px;
}
.home__donation-box-rv {
    position: absolute;
    right: -100px;
    bottom: -230px;
    width: 500px;
}

.home__info-headline {
    text-align: center;
    margin: 30px;
}
.home__info-text {
    width: 80%;
    text-align: center;
    margin: 30px auto;
}
.home__info-btns {
    text-align: center;
    margin: 40px 0;
}
.home__info-btn {
    margin: 0 15px;
}

.home__videos-headline {
    text-align: center;
    margin-top: 30px;
}
.home__videos-text {
    text-align: center;
    margin: 30px auto;
}
.home__videos {
    display: flex;
    margin: 50px 0;
}
.home__video {
    width: 100%;
    margin-left: 20px;
    &:first-of-type {
        margin-left: 0;
    }
}
.home__videos-btns {
    text-align: center;
    margin: 0 10px 30px;
}

.home__thanks-headline {
    margin-top: 20px;
}
.home__thanks-text {
    margin: 30px 0;
}
.home__faq-question {
    margin-top: 40px;
}
.home__faq-answer {
    margin-top: 12px;
}
.home__lists {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px;
}
.home__list {
    flex: none;
    min-width: 300px;
    margin-top: 30px;
}
.home__list-title {
    margin-bottom: 10px;
}
.home__list-name {
    margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
    .home__road-row {
        padding: 30px;
    }
    .home__graphic {
        display: block;
        margin: 0 20px;
    }
    .home__donation-box {
        margin: 0;
    }
    .home__donation-box-text {
        margin-bottom: 0;
    }
    .home__donation-box-btns {
        text-align: center;
        padding-left: 0;
        margin-top: 0;
    }
    .home__donation-box-rv, .home__road-foreground {
        display: none;
    }
}
@media only screen and (max-width: 1120px) {
    .home__info-btn {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 800px) {
    .home__road-row {
        display: block;
        .data-capsule__container {
            margin: 10px auto;
        }
    }
    .home__graphic {
        width: 300px;
        margin: 10px auto;
    }
    .home__videos {
        flex-direction: column;
        align-items: center;
    }
    .home__video {
        max-width: 500px;
        margin-top: 20px;
        margin-left: 0;
        &:first-of-type {
            margin-top: 0;
        }
    }
}
@media only screen and (max-width: 540px) {
    .home__donation-box {
        padding: 20px;
    }
}
