// colors
$green-dark: #56A132;
$green: #88D55E;
$orange-dark: #DF7F42;
$orange: #F29C62;
$orange-light: #F7CAA9;
$purple-darker: #4c193c;
$purple-dark: #862167;
$purple: #A53384;
$pink: #E43F65;
$black: #0E1111;

// fonts
$satisfy: 'Satisfy', cursive;
$sriracha: 'Sriracha', cursive;
$montserrat: 'Montserrat', sans-serif;
