<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour | Contact</title>
    <meta name="description" content="Sexplanations Road Tour | Contact">
    <link rel="canonical" href="curiousroadtour.com/contact">
    <link rel="shortcut icon" type="image/x-icon" href={{ "/favicon.ico?" | prepend: site.baseurl }}>

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Satisfy|Sriracha" rel="stylesheet">
    <link href={{ "/css/main.css" | prepend: site.baseurl }} rel="stylesheet">
</head>

<body>
    {% include top.html page="contact" %}

    <div class="section-row">
        <section class="section section--first contact">
            <div class="contact__iframe-container">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdTPxLiQANSqD-DGQ8Nfo83WBXxP2zGvHiXUYahKiLJJhvArA/viewform?embedded=true"
                    width="640" height="1458" frameborder="0" marginheight="0" marginwidth="0">
                    Loading...
                </iframe>
            </div>
        </section>
    </div>

    <div id="info" class="section-row--pink">
        <section class="section">
            <div class="contact__phone">
                If you don't hear back in 24 hours, you can email us directly
                at <a href="mailto:tour@sexplanations.com" class="link">tour@sexplanations.com</a>.
            </div>
            <div>
                To mail a check, please make it out to <strong>The Effing Foundation</strong> and
                mark it for "Sexplanations Road Tour" in the memo line, and send to:
            </div>
            <div class="contact__address">
                <div>
                    The Effing Foundation
                </div>
                <div>
                    PO Box 441497
                </div>
                <div>
                    Somerville, MA 02144-0034
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>
</body>
