<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour | Contact</title>
    <meta name="description" content="Sexplanations Road Tour | Contact">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="canonical" href="s-cheng.github.io/sexplanations-road-tour/contact.html">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href={{ "/css/main.css" | prepend: site.baseurl }} rel="stylesheet">
</head>

<body>
    {% include top.html %}

    <div class="section-row">
        <section class="section section--first contact">
            <div class="contact__iframe-container">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfQjaw-DD7uWepMv42VBszYEzsTsp7zbiy8a5mRrQHKJecJxA/viewform?embedded=true"
                    width="640" height="1350" frameborder="0" marginheight="0" marginwidth="0">
                    Loading...
                </iframe>
            </div>
        </section>
    </div>

    <div class="section-row--pink">
        <section class="section">
            <div>
                If you don't hear back in 24 hours, you can email us at asdf@asdf.com or
                call us at this google voice number: (555) 555-5555
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>
</body>
