<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour | Tour Dates</title>
    <meta name="description"
        content="Driving around the country, stopping in towns which might not have great access to sex education and setting up a stage to teach anyone who shows up about anatomy, pleasure, hygiene, and consent - anything our audiences want to know. Want to help? Here's your chance!">
    <link rel="canonical" href="https://curiousroadtour.com/dates">
    <link rel="shortcut icon" type="image/x-icon" href={{ "/favicon.ico?" | prepend: site.baseurl }}>

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Satisfy|Sriracha" rel="stylesheet">
    <link href={{ "/css/main.css" | prepend: site.baseurl }} rel="stylesheet">

    <!-- Social -->
    {% include social_meta.html %}
</head>

<body>
    {% include top.html page="dates" %}

    <div class="section-row">
        <section class="section section--first">
            <div class="home__road">
                <h2 class="heading-1 donate__overview-headline">Tour Dates</h2>
                <div class="separator"></div>

                <div class="dates__stops-section">
                    <div class="dates__stops-info-col">
                        <div class="heading-3 dates__stops-headline">
                            Where We're Going
                        </div>
                        <div class="small-text dates__stops-subheadline">
                            For the latest info and more details, please
                            see <a href="https://twitter.com/elleteedee" class="link">
                                Lindsey's Twitter account</a>.
                        </div>
                        <div class="dates__stops">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Las Vegas, Nevada
                                </div>
                                <div class="dates__stop-date">
                                    Jan 23-25, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Moab, Utah
                                </div>
                                <div class="dates__stop-date">
                                    Jan 27-29, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Breckenridge, Colorado
                                </div>
                                <div class="dates__stop-date">
                                    Jan 30-31, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Denver, Colorado
                                </div>
                                <div class="dates__stop-date">
                                    Feb 2-3, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Dublin, Ireland
                                </div>
                                <div class="dates__stop-date">
                                    Feb 4-8, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Oxford, England (TEDx)
                                </div>
                                <div class="dates__stop-date">
                                    Feb 10, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    London, England (VidCon)
                                </div>
                                <div class="dates__stop-date">
                                    Feb 15-16, 2019
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dates__stops-map-col">
                        <img src="/assets/images/route1.jpg" alt="tour route map 1" class="donate__rv-img" />
                    </div>
                </div>

                <div class="dates__stops-section">
                    <div class="dates__stops-info-col">
                        <div class="heading-3 dates__stops-headline">
                            Where We've Been
                        </div>
                        <div class="dates__stops">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Shoshone, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 22, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    San Luis Obisbo, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 15, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Sunnyvale, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 14, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    San Francisco, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 12, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Sacramento, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 10, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Davis, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 8-9, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Redding, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 7, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Ashland, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 6, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Eugene, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 5, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Gresham, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 4, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Portland, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 3, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Coeur d’Alene, Idaho and Spokane, Washington
                                </div>
                                <div class="dates__stop-date">
                                    Jan 2, 2019
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>
</body>
