<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour | Tour Dates</title>
    <meta name="description"
        content="Driving around the country, stopping in towns which might not have great access to sex education and setting up a stage to teach anyone who shows up about anatomy, pleasure, hygiene, and consent - anything our audiences want to know. Want to help? Here's your chance!">
    <link rel="canonical" href="https://curiousroadtour.com/dates">
    <link rel="shortcut icon" type="image/x-icon" href={{ "/favicon.ico?" | prepend: site.baseurl }}>

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Satisfy|Sriracha" rel="stylesheet">
    <link href={{ "/css/main.css" | prepend: site.baseurl }} rel="stylesheet">

    <!-- Social -->
    {% include social_meta.html %}
</head>

<body>
    {% include top.html page="dates" %}

    <div class="section-row">
        <section class="section section--first">
            <div class="home__road">
                <h2 class="heading-1 donate__overview-headline">Tour Dates</h2>
                <div class="separator"></div>

                <div class="dates__stops-section">
                    <div class="heading-3 dates__stops-headline">
                        Where We're Going
                    </div>
                    <div class="small-text dates__stops-subheadline">
                        For the latest info and more details, please
                        see <a href="https://twitter.com/elleteedee" class="link">
                            Lindsey's Twitter account</a>.
                    </div>
                    <div class="dates__stops">
                        <div class="dates__stops-col">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Boaz, Alabama
                                </div>
                                <div class="dates__stop-date">
                                    Apr 10, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/682070075529277/" class="link">
                                        Huntsville, Alabama
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Apr 10, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/323154145216315/" class="link">
                                        Chattanooga, Tennessee (University of Tennessee)
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Apr 11, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Nashville, Tennessee
                                </div>
                                <div class="dates__stop-date">
                                    Apr 15, 2019
                                </div>
                            </div>
                        </div>
                        <div class="dates__stops-col">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Murray, Kentucky
                                </div>
                                <div class="dates__stop-date">
                                    Apr 16, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Cookesville, Tennessee
                                </div>
                                <div class="dates__stop-date">
                                    Apr 17, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Knoxville, Tennessee
                                </div>
                                <div class="dates__stop-date">
                                    Apr 18, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Asheville, North Carolina
                                </div>
                                <div class="dates__stop-date">
                                    Apr 19, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Rock Hill, South Carolina
                                </div>
                                <div class="dates__stop-date">
                                    Apr 20, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Durham, North Carolina
                                </div>
                                <div class="dates__stop-date">
                                    Apr 22, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Norfolk, Virginia
                                </div>
                                <div class="dates__stop-date">
                                    Apr 23, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Richmond, Virginia
                                </div>
                                <div class="dates__stop-date">
                                    Apr 24, 2019
                                </div>
                            </div>
                        </div>
                        <div class="dates__stops-col">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Burke, Virginia
                                </div>
                                <div class="dates__stop-date">
                                    Apr 25, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Baltimore, Maryland
                                </div>
                                <div class="dates__stop-date">
                                    Apr 26, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Philadelphia, Pennsylvania
                                </div>
                                <div class="dates__stop-date">
                                    Apr 27, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    New York City, New York
                                </div>
                                <div class="dates__stop-date">
                                    Apr 30, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Poughkeepsie, New York
                                </div>
                                <div class="dates__stop-date">
                                    May 1, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Hartford, Connecticut
                                </div>
                                <div class="dates__stop-date">
                                    May 2, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Providence, Rhode Island
                                </div>
                                <div class="dates__stop-date">
                                    May 3, 2019
                                </div>
                            </div>
                            <div class="dates__stop dates__stop--last">
                                <div class="dates__stop-location">
                                    Boston, Massachusetts
                                </div>
                                <div class="dates__stop-date">
                                    May 4, 2019
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dates__stops-section">
                    <div class="heading-3 dates__stops-headline">
                        Where We've Been
                    </div>
                    <div class="dates__stops">
                        <div class="dates__stops-col">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                  <a href="https://www.facebook.com/events/2294340074140077/" class="link">
                                      Montgomery, Alabama
                                  </a>
                                </div>
                                <div class="dates__stop-date">
                                    Apr 7, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/402033870590593/" class="link">
                                        Auburn, Alabama (Auburn University)
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Apr 8, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Mobile, Alabama
                                </div>
                                <div class="dates__stop-date">
                                    Apr 5, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Pensacola, Florida
                                </div>
                                <div class="dates__stop-date">
                                    Apr 6, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/398184471015055/" class="link">
                                        Biloxi, Mississippi
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Apr 4, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/2132148436870359/" class="link">
                                        New Orleans, Louisiana
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Apr 3, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Houma, Louisiana
                                </div>
                                <div class="dates__stop-date">
                                    Apr 2, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/813658392309461/" class="link">
                                        Houston, Texas
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 29, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/438123956927703/" class="link">
                                        Austin, Texas (Southwestern University)
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 28, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/2281263998791534/" class="link">
                                        Austin, Texas (Southwestern University)
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 27, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/823492164682366/" class="link">
                                        San Antonio, Texas
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 25, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    C. Juarez, Mexico
                                </div>
                                <div class="dates__stop-date">
                                    Mar 24, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/296576304333116/" class="link">
                                        El Paso, Texas
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 23, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Las Cruces, New Mexico
                                </div>
                                <div class="dates__stop-date">
                                    Mar 22, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/409230299834841/" class="link">
                                        Tucson, Arizona
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 21, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/2214550762126973/" class="link">
                                        Phoenix, Arizona
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 20, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/1172574426240334/" class="link">
                                        Arcosanti, Arizona
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 19, 2019
                                </div>
                            </div>
                        </div>
                        <div class="dates__stops-col">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/349053469042342/" class="link">
                                        Salt Lake City, Utah
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 14, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/471875423349934/" class="link">
                                        Idaho Falls, Idaho
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Mar 13, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Casper, Wyoming
                                </div>
                                <div class="dates__stop-date">
                                    Feb 24, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Denver, Colorado
                                </div>
                                <div class="dates__stop-date">
                                    Feb 23, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.sexweekuncc.org/" class="link">
                                        Charlotte, North Carolina (University of North Carolina)
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Feb 20-22, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    London, England (VidCon)
                                </div>
                                <div class="dates__stop-date">
                                    Feb 15-16, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    <a href="https://www.facebook.com/events/948328128697502/" class="link">
                                        Southampton, England (Southampton University)
                                    </a>
                                </div>
                                <div class="dates__stop-date">
                                    Feb 13, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Dublin, Ireland
                                </div>
                                <div class="dates__stop-date">
                                    Feb 4-12, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Denver, Colorado
                                </div>
                                <div class="dates__stop-date">
                                    Feb 2-3, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Breckenridge, Colorado
                                </div>
                                <div class="dates__stop-date">
                                    Feb 1, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Grand Junction, Colorado
                                </div>
                                <div class="dates__stop-date">
                                    Jan 30, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Moab, Utah
                                </div>
                                <div class="dates__stop-date">
                                    Jan 27-29, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Las Vegas, Nevada
                                </div>
                                <div class="dates__stop-date">
                                    Jan 23-25, 2019
                                </div>
                            </div>
                        </div>
                        <div class="dates__stops-col">
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Shoshone, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 22, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    San Luis Obisbo, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 15, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Sunnyvale, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 14, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    San Francisco, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 12, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Sacramento, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 10, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Davis, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 8-9, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Redding, California
                                </div>
                                <div class="dates__stop-date">
                                    Jan 7, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Ashland, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 6, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Eugene, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 5, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Gresham, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 4, 2019
                                </div>
                            </div>
                            <div class="dates__stop">
                                <div class="dates__stop-location">
                                    Portland, Oregon
                                </div>
                                <div class="dates__stop-date">
                                    Jan 3, 2019
                                </div>
                            </div>
                            <div class="dates__stop dates__stop--last">
                                <div class="dates__stop-location">
                                    Coeur d’Alene, Idaho and Spokane, Washington
                                </div>
                                <div class="dates__stop-date">
                                    Jan 2, 2019
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>
</body>
