<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour | Tour Dates</title>
    <meta name="description" content="Sexplanations Road Tour | Donate">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="canonical" href="s-cheng.github.io/sexplanations-road-tour/dates.html">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href={{ "/css/main.css" | prepend: site.baseurl }} rel="stylesheet">
</head>

<body>
    {% include top.html %}

    <div class="section-row">
        <section class="section section--first">
            <div class="home__road">
                <h2 class="heading-1 donate__overview-headline">Tour Dates</h2>
                <div class="separator"></div>
                <div class="quote-text donate__overview-quote">
                    Coming Soon!
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>
</body>
