<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour | {{page.title}}</title>
    <meta name="description"
        content="Driving around the country, stopping in towns which might not have great access to sex education and setting up a stage to teach anyone who shows up about anatomy, pleasure, hygiene, and consent - anything our audiences want to know. Want to help? Here's your chance!">
    <link rel="canonical" href="curiousroadtour.com{{page.permalink}}">
    <link rel="shortcut icon" type="image/x-icon" href={{ "/favicon.ico?" | prepend: site.baseurl }}>

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Satisfy|Sriracha" rel="stylesheet">
    <link href={{ "/css/main.css" | prepend: site.baseurl }} rel="stylesheet">

    <!-- Social -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@elleteedee">
    <meta name="twitter:title" content="Sexplanations Road Tour">
    <meta name="twitter:description"
        content="Driving around the country, stopping in towns which might not have great access to sex education and setting up a stage to teach anyone who shows up about anatomy, pleasure, hygiene, and consent - anything our audiences want to know. Want to help? Here's your chance!">
    <meta name="twitter:image" content="https://curiousroadtour.com/assets/images/social.png">
    <meta name="twitter:site" content="Sexplanations Road Tour" />
    <meta name="twitter:domain" content="https://curiousroadtour.com" />
</head>

<body>
    {% include top.html %}

    <div class="section-row">
        <section class="section section--first">
            <div class="home__road">
                <h2 class="heading-1 default__headline">{{page.title}}</h2>
                <div class="separator"></div>
                <div class="default__content">
                    {{content}}
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>
</body>
