<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour | Donate</title>
    <meta name="description" content="Sexplanations Road Tour | Donate">
    <link rel="canonical" href="s-cheng.github.io/sexplanations-road-tour/donate.html">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    {% include top.html %}

    <div class="section-row">
        <div class="home__road"></div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
