<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8">

    <title>Sexplanations Road Tour</title>
    <meta name="description" content="Sexplanations Road Tour">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="canonical" href="s-cheng.github.io/sexplanations-road-tour/index.html">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href={{ "/css/main.css" | prepend: site.baseurl }} rel="stylesheet">
</head>

<body>
    {% include top.html %}

    <div class="section-row">
        <section class="section section--first">
            <div class="home__road">
                {% include data_capsule.html
                    label="shows booked"
                    value="thirty"
                    info="Our goal is to visit everyone! Learn about how you can help us here." %}
            </div>
        </section>
    </div>

    <div class="section-row--purple-dark">
        <section class="section">
            <h2 class="heading-3 home__info-quote">
                Here is a story or quotation about Dr. Doe's intention to do this tour and a show
                of gratitude for everyone's support!
            </h2>
            <div class="separator separator--centered"></div>
            <div class="home__info-headline">We're hitting the road!</div>
            <div class="home__info-text">
                For more than four years Sexplanations has been the go-to source for clinical
                sex edutainment on Youtube. The host, Dr. Lindsey Doe, shares her experiences
                teaching, counseling, coaching, and having sex herself to inspire curiousity.
                New videos are published every Wednesday. If you're not subscribed already,
                please do so and check us out on Facebook, Twitter, Tumblr, and Patreon.
            </div>
            <div class="home__info-btns">
                <button class="home__info-btn btn">Donate</button>
                <button class="home__info-btn btn btn--purple">Trip Log</button>
            </div>
        </section>
    </div>

    <div class="section-row--pink">
        <section class="section">
            <h2 class="heading-3 home__videos-headline">
                What will we be learning?
            </h2>
            <div class="separator separator--centered"></div>
            <div class="home__videos">
                <div class="home__video">
                    <div class="iframe-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/bsYU6lA2roc"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="home__video">
                    <div class="iframe-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/SqdF0AL2GBQ"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="home__video">
                    <div class="iframe-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vW3vyaFinYk"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="home__videos-btns">
                <button class="btn link-youtube">View More</button>
            </div>
        </section>
    </div>

    <div class="section-row--purple-dark">
        <section class="section">
            <h2 class="heading-3">Thank you.</h2>
            <div class="home__thanks-text">
                For more than four years Sexplanations has been the go-to source for clinical
                sex edutainment on Youtube. The host, Dr. Lindsey Doe, shares her experiences
                teaching, counseling, coaching, and having sex herself to inspire curiousity.
                New videos are published every Wednesday. If you're not subscribed already,
                please do so and check us out on Facebook, Twitter, Tumblr, and Patreon.
            </div>
            <div class="separator"></div>
            <div class="home__lists">
                <div class="home__list">
                    <div class="quote-text home__list-title">
                        Planning Team
                    </div>
                    <div class="home__list-names">
                        <div class="home__list-name">
                            Harry Potter
                        </div>
                        <div class="home__list-name">
                            Hermione Granger
                        </div>
                        <div class="home__list-name">
                            Ron Weasley
                        </div>
                    </div>
                </div>

                <div class="home__list">
                    <div class="quote-text home__list-title">
                        Sponsors
                    </div>
                    <div class="home__list-names">
                        <div class="home__list-name">
                            Harry Potter
                        </div>
                        <div class="home__list-name">
                            Hermione Granger
                        </div>
                        <div class="home__list-name">
                            Ron Weasley
                        </div>
                    </div>
                </div>

                <div class="home__list">
                    <div class="quote-text home__list-title">
                        Ambassadors
                    </div>
                    <div class="home__list-names">
                        <div class="home__list-name">
                            Harry Potter
                        </div>
                        <div class="home__list-name">
                            Hermione Granger
                        </div>
                        <div class="home__list-name">
                            Ron Weasley
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>
</body>
